<?php

if (!file_exists(__DIR__.'/src')) {
    exit(0);
}

$finder = PhpCsFixer\Finder::create()
    ->in([__DIR__ . '/src', __DIR__ . '/tests'])
;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit48Migration:risky' => true,
        'concat_space' => ['spacing' => 'one'],
        'phpdoc_order' => true,
        'phpdoc_inline_tag' => true,
        'binary_operator_spaces' => ['default' => null],
        'php_unit_no_expectation_annotation' => false,
        'array_syntax' => array('syntax' => 'short'),
        'fopen_flags' => false,
        'ordered_imports' => true,
        'protected_to_private' => false,
        'return_type_declaration' => ['space_before' => 'none'],
    ))
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;
